nav {
   background-color: gold;
   font-weight: 200;
}

a {
   text-decoration: none;
}

.nav-bar-links {
   list-style: none;
   padding-left: 0;
}

button {
   outline: none;
}

footer {
   align-items: center;
   background-color: gold;
}

.app-container {
   text-align: center;
}

.student-grid-container div {
   display: inline;
}