nav {
   background-color: gold;
   font-weight: 200;
}

a, h1, a:hover, h1:hover {
   text-decoration: none;
}

h1, h2, h3, a, li {
   color: purple;
}

.nav-bar-links {
   list-style: none;
   padding-left: 0;
}

button {
   outline: none;
   background-color: gold;
   margin: 15px;
}

button p {
   margin: 0;
}

.btn-lg {
   font-size: 2.25em;
}

button:hover {
   background-color: purple;
}

footer {
   align-items: center;
   background-color: gold;
}

.app-container {
   text-align: center;
}

.student-grid-container {
   height: 75vh;
}

.student-grid-container div {
   display: inline;
}